  body {
      margin: 0;
      font-family: Arial, sans-serif;
      line-height: 1.6;
      background-color: rgb(12, 142, 105);
  }

    header, section, footer {
      padding: 40px 20px;
      max-width: 2000px;
      margin: auto; 
     
    }

  /*css for navbar*/
    nav {
      padding: 5px 20px;
      background-color: rgb(3, 80, 58);
      justify-content: space-between;
      display: flex;
      align-items: center;
      position: sticky;
      top: 0;
      z-index: 1000;
    }

    .nav-left {
      display: flex;
      align-items: center;
    }
   
    .nav-logo {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      margin-right: 10px;
      object-fit: cover;
      border: 1px solid rgb(112, 246, 208);
      
    }
    
    .firstname {
      color: rgb(255, 255, 255);
      font-weight: bold;
      font-size: 18px;
      margin: 0;
    }

    .lastname {
      color: rgb(112, 246, 208);
      font-weight: bold;
      font-size: 18px;
      margin: 0;
    }
    

    nav ul {
      list-style: none;
      display: flex;  
      right: 20px;
      bottom: 3px;
      margin: 0;
      padding: 0;
    } 

    nav ul li {
      margin-left: 20px;
    }
    
    nav ul li a {
      color: #fff;
      text-decoration: none; 
    }

    nav ul li a:hover {
      color: rgb(112, 246, 208);
    }
    
/*css for home*/

    header {
        text-align: center;
        position: relative;
        overflow: hidden;
        z-index: 1;
        color: #fff;
        font-size: large;
    }

    header h1 {
      color: rgb(112, 246, 208);
      opacity: 0;
     
      transform: translateX(-100px);
      transition: all 1s ease-out;      
    }

    header h1.show {
      opacity: 1;
      transform: translateX(0);
    }
     
     
    header::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("images/japura1.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;  
      filter: blur(5px);
      transform: scale(1.1);
      z-index: -1;

    }

    .profile {
      width: 300px;
      height: 300px;
      border-radius: 50%;
      object-fit: cover;
      display: block;
      margin: 0 auto 20px;
      border: 3px solid rgb(183, 226, 214);
    }

    .profile:hover {
      transform: translateY(-5px);
      box-shadow: 0 10px 20px rgb(112, 246, 208);
    }


  /*css for about me*/
    
    #about {
      margin-top: 20px;
      display: flex;
      background-color: rgb(211, 252, 240);
      padding: 60px 10px;
      width: 95%;
      justify-content: center;
      align-items: center;
      box-shadow: 10px 15px 20px rgb(161, 235, 211) ;
    }
     
    .about-me {
     text-align: center;
    }

    .about-me h2 {
      font-size: 32px;
      margin-bottom: 20px;
      margin-top: 4px;
      margin-left: 15px;
      color: rgb(3, 80, 58);
    }
     
    .about-me p {
      font-size: 18px;
      line-height: 1.8;
      margin-bottom: 15px;
      margin-left: 150px;
      margin-right: 150px;
    }


   /*css for education*/
    
    #education {
      background-image: url(images/bhagya1.png);
      background-size: 60% auto;
      background-position: right -50px center;
      background-repeat: no-repeat;
      position:relative;
      border-radius: 15px;
     
    }

    #education h2 {
      font-size: 32px;
      margin-bottom: 40px;
      color: rgb(244, 247, 246);
      text-align: center;
    }

    .education-list {
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding-left: 40px;
      position: relative;
      
    }

    .education-list::before {
      content: "";
      position: absolute;
      left: 15px;
      top: 0;
      width: 8px;
      height: 100%;
      background: linear-gradient(to bottom, rgb(17, 79, 79),rgb(14, 236, 236));  
      border-radius: 2px;
    }

    .educations {
      background-color: rgb(212, 249, 238);
      padding: 20px 30px;
      border-radius: 7px;
      box-shadow: 0 4px 8px rgb(17, 79, 79);
      width: 600px;
      max-width: 600px;
      position: relative;
      text-align: center;
    }

    .educations::before {
      content: "";
      position: absolute;
      left: -32px;
      top: 20px;
      width: 16px;
      height: 16px;
      background-color: rgb(17, 79, 79);
      border-radius: 50%;
      border: 3px solid rgb(14, 236, 236);

    }

    .educations:hover {
      transform: translateY(-5px);
      box-shadow: 0 10px 20px rgb(112, 246, 208);
    }

    .educations h3 {
      font-size: 22px;
      margin-bottom: 10px;
      color: rgb(17, 79, 79);
    }

    .educations hr {
      border: 0;
      height: 3px;
      margin: 10px auto;
      width: 75%;
      margin-left: auto;
      margin-right: auto;
      background: linear-gradient(to right, rgb(17, 79, 79),rgb(14, 236, 236));
    }

    .educations p {
      font-size: 18px;
      color: rgb(0, 0, 0);

    }

   /*css for skills*/

    #skills {
      max-width: 1000px;
      
      padding: 50px;
      padding-left: 25%;
      padding-right: 10%;
      background-color: rgb(234, 247, 243);
      font-weight: bold;
      
    }
    
    #skills h2 {
      font-size: 32px;
      text-align: center;
      margin-top: 4px;
      color: rgb(3, 80, 58);
      
    }

    .skills-left {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
      max-width: 800px;
      padding-right: 100px;
      justify-content: center;
      
    }

    .myskills {
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      background: rgb(3, 80, 58);
      padding: 15px;
      border-radius: 10px;
      box-shadow: 0 4px 8px  rgb(28, 154, 131);
      overflow: hidden;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      gap: 20px; 
      align-items: center;
      width: 200px;
      height: 200px;
     

    }

    .myskills:hover {
      transform: translateY(-5px);
      box-shadow: 0 10px 20px rgb(112, 246, 208);
    }

    .myskills img {
      width: 170px;
      height: 170px;
      border-radius: 5px;
    }

    
    .skill-bar {
      background-color: rgb(9, 156, 114);
      border-radius: 100px;
      overflow: hidden;
      height: 15px;
      width: 100%;

    }

    .skillbar-fill {
      height: 100%;
      background-color: rgb(112, 246, 208);
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 1.8s ease-out;
      
    }

  /*css for projects*/
   
   #projects {
      padding: 10px;
   }

   #projects h2 {
      text-align: center;
      color: rgb(251, 254, 253);
      font-size: 32px;
    }

    .myprojects {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
      flex-wrap: wrap;
      justify-content: center;
      gap: 80px;
      padding-left: 200px;
      padding-right: 200px;
      padding-bottom: 70px;
    }

    .projects-box {
      display: grid;
      background:rgb(201, 246, 233);
      padding: 15px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgb(73, 192, 158);
      overflow: hidden;
      transition: transform 0.3s, box-shadow 0.3s;
      gap: 20px; 
    }

    .projects-box:hover {
      transform: translateY(-10px);
      box-shadow: 0 8px 16px rgb(31, 38, 24);
    }

    .projects-box img {
      width: 100%;
      border-radius: 10px;
    }

    .projects-box a{
      display: inline-table;
      margin-top: 10px;
      color: rgb(216, 238, 219);
      padding: 8px 12px;
      background-color:rgb(3, 80, 58);
      text-decoration: none;
      border-radius: 5px;
      transition: background-color 0.3s;
      text-align: center; 
    }

    .projects-box a:hover {
      background-color: rgb(54, 186, 148);
      color: rgb(3, 80, 58);
    }

    .projects-box p {
      font-size: 17px;
    }

   /*css for contact*/
    #contact {
      background-color: rgb(20, 104, 80);
      padding: 60px 20px;
      text-align: center;
      color: rgb(253, 253, 253);
    }
    
    #contact h2 {
      font-size: 32px;
      margin-bottom: 30px;
    }

    .contact-box a {
      font-size: 20px;
      margin: 15px 0;
      color: rgb(241, 243, 242);
      text-decoration: none;
    }

    .contact-box p {
      font-weight: bold;
    }

   .contact-box a:hover {
    color: rgb(112, 246, 208);
   }

   /*css for footer*/
    footer {
      text-align: center;
      font-weight: bold;
      padding: 20px;   
      background-color:rgb(3, 80, 58);
      color: #ffffff;
    }



    
    